<template>
<h1>vue_home_work</h1>


  <ol>Результат множення на 2
    <li v-for="(n, index) in array" v-bind:key="index" v-bind:class="['colour', ((array[0]*n) %2 == 1) ? 'red' : 'blue' ]">
      {{n}} * {{array[0]}} = {{array[0]*n}}
    </li>
  </ol>
  <ol>Результат множення на 3
    <li v-for="(n, index) in array" v-bind:key="index" v-bind:class="['colour', ((array[1]*n) %2 == 1) ? 'red' : 'blue' ]">
      {{n}} * {{array[1]}} = {{array[1]*n}}
    </li>
  </ol>
  <ol>Результат множення на 4
    <li v-for="(n, index) in array" v-bind:key="index" v-bind:class="['colour', ((array[2]*n) %2 == 1) ? 'red' : 'blue' ]">
      {{n}} * {{array[2]}} = {{array[2]*n}}
    </li>
  </ol>
  <ol>Результат множення на 5
    <li v-for="(n, index) in array" v-bind:key="index" v-bind:class="['colour', ((array[3]*n) %2 == 1) ? 'red' : 'blue' ]">
      {{n}} * {{array[3]}} = {{array[3]*n}}
    </li>
  </ol>
  <ol>Результат множення на 6
    <li v-for="(n, index) in array" v-bind:key="index" v-bind:class="['colour', ((array[4]*n) %2 == 1) ? 'red' : 'blue' ]">
      {{n}} * {{array[4]}} = {{array[4]*n}}
    </li>
  </ol>
  <ol>Результат множення на 7
    <li v-for="(n, index) in array" v-bind:key="index" v-bind:class="['colour', ((array[5]*n) %2 == 1) ? 'red' : 'blue' ]">
      {{n}} * {{array[5]}} = {{array[5]*n}}
    </li>
  </ol>
  <ol>Результат множення на 8
    <li v-for="(n, index) in array" v-bind:key="index" v-bind:class="['colour', ((array[6]*n) %2 == 1) ? 'red' : 'blue' ]">
      {{n}} * {{array[6]}} = {{array[6]*n}}
    </li>
  </ol>
  <ol>Результат множення на 9
    <li v-for="(n, index) in array" v-bind:key="index" v-bind:class="['colour', ((array[7]*n) %2 == 1) ? 'red' : 'blue' ]">
      {{n}} * {{array[7]}} = {{array[7]*n}}
    </li>
  </ol>


</template>

<script>
export default {
  data: ()=>({
    array: [2, 3, 4, 5, 6, 7, 8, 9],

  })
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.blue{
  color: aqua;
}
.red{
  color: red;
}
</style>
